#hhhour,#mmmin,#sssec,#ddday {
	float:left;
	padding-top:20px;
	padding-bottom:4px;	
	padding-left:6px;
	padding-right:3px;
	width:68px;
	height:84px;
	position:relative;
	display:block;
	background:url(../images/timer-bg1.png) left top no-repeat;	
}
			
#ddday0,#ddday1,#hhhour0,#hhhour1,#mmmin0,#mmmin1,#sssec0,#clock #sssec #sssec1>p {
	margin:0px;
	padding:0px;
	width:20px;
	height:45px;
	float:left;
	color:#111;
	font-size:40px;
	position:absolute;
	left:13px;
}

.sssec1 {margin:0px; padding:0px; width:22px; height:45px; float:left; color:#c00000!important; font-size:40px!important; position:absolute; left:13px;}

#sssec1,#mmmin1,#hhhour1,#ddday1 {
	margin-left:20px;
}