#hhour,#mmin,#ssec,#dday {
	float:left;
	padding-top:20px;
	padding-bottom:4px;	
	padding-left:6px;
	padding-right:3px;
	width:68px;
	height:84px;
	position:relative;
	display:block;
	background:url(../images/timer-bg1.png) left top no-repeat;	
}
			
#dday0,#dday1,#hhour0,#hhour1,#mmin0,#mmin1,#ssec0,#clock #ssec #ssec1>p {
	margin:0px;
	padding:0px;
	width:20px;
	height:45px;
	float:left;
	color:#111;
	font-size:40px;
	position:absolute;
	left:13px;
}

.ssec1 {margin:0px; padding:0px; width:22px; height:45px; float:left; color:#c00000!important; font-size:40px!important; position:absolute; left:13px;}

#ssec1,#mmin1,#hhour1,#dday1 {
	margin-left:20px;
}
